{% extends 'base.html' %}
	{% block body %}
	<center style="margin-top:15%">
		<form method="post">
			<h4 style="font-family:courier; color:red">{{error}}</h4>
			<label>User Name:
			<div><input type="text" name="username" value="{{username}}"></div>
			</label>
			<label>Password:
				<div><input type="password" name = "password"></div>
			</label> 
			
			<font style="font-family:Sans-serif; font-size:12px;">Don't have an account? <a href="http://localhost:15081/">Click here</a> to Signup</font><br>
			<input type="submit" value="Login">
		</form>
	</center>
	
	{% endblock %}